<div class="container">
	<div class="login-head">
		<h1>Login</h1>		
	</div>

	<%= form_tag('/login', {class: 'form-vertical'}) do %>
		<label for="email">Email: </label>
	  <%= email_field_tag :email %><br/>
	  <label for="password">Password: </label>
	  <%= password_field_tag :password %><br/>
	  <%= submit_tag "Se connecter" %>
	<% end %>

	<div class="signup">
		<%= link_to "S'inscrire", '/signup' %>
	</div>
</div>