<!DOCTYPE html>
<html>
  <head>
    <title>Todo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      Vous êtes connecté en tant que <%= current_user.name %> | <%= link_to "Se deconnecter", '/logout' %>
    <% else %>
      <center>
        <!-- <%= link_to 'Se connecter', '/login' %> | <%= link_to "S'inscrire", '/signup' %> -->
      </center>
    <% end %>

    <%= yield %>
  </body>
</html>
